<!-- predict_items.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Predict Items</title>
</head>
<body>
    <h1>Predict Items</h1>

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Predict">
    </form>

    {% if predictions %}
        <h2>Predictions:</h2>
        <ul>
            {{ predictions }}
            {% for prediction in predictions %}
                <li>{{ prediction }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
