{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="{% static 'assets/css/login/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="screen" style=" height: 650px;">
            <div class="screen__content" >
                <form class="login" style="padding-top:10px;" method="POST" action="">
                    {% csrf_token %}
                    <!-- {{form.as_p}} -->
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        {{form.username|add_class:"login__input"|attr:"placeholder:username"}}
                    </div>
                    <div class="login__field">
                        <i class="login__icon fa-solid fa-envelope"></i>
                        {{form.email|add_class:"login__input"|attr:"placeholder:email"}}
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        {{form.first_name|add_class:"login__input"|attr:"placeholder:First Name"}}
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        {{form.first_name|add_class:"login__input"|attr:"placeholder:Last Name"}}
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        {{form.password1|add_class:"login__input"|attr:"placeholder:password"}}
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        {{form.password2|add_class:"login__input"|attr:"placeholder:password"}}
                    </div>
                    <button class="button login__submit" type="submit">
                        <span class="button__text">Đăng ký tài khoản</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>

                <p style="margin-left: 50px;"><i>Bạn đã có tài khoản? </i><a href="{% url 'signIn' %}">Login</a></p>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
</body>
</html>